<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.jpeg') }}">
    <title>Mate Argento - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="mensaje-push" id="notificacion">{{ messages[0] }}</div>
            <script>setTimeout(() => document.getElementById('notificacion').remove(), 3000);</script>
        {% endif %}
    {% endwith %}

    <header class="bloque-superior">
        <a href="/">
            <img src="{{ url_for('static', filename='img/logo.jpeg') }}" class="logo-personalizado" alt="Mate Argento">
        </a>

        <div class="buscador-corto">
            <input type="text" placeholder="Buscar..." style="border:none; padding:5px; outline:none; width: 300px;">
            <button>🔍</button>
        </div>

        <div class="bloque-cuenta">
            {% if session.get('usuario_nombre') %}
                <nav>
                    <span>Hola, <b>{{ session['usuario_nombre'] }}</b></span> | 
                    {% if session.get('usuario_rol') == 'admin' %}
                        <a href="/admin/nuevo_producto" style="color: red; font-weight: bold;">[ PANEL CARGA ]</a> |
                    {% endif %}
                    <a href="/logout">Cerrar Sesión</a>
                </nav>
            {% else %}
                <div class="icono-usuario">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="enlaces-cuenta">
                    <a href="/login" class="link-cuenta">Iniciar sesión</a>
                    <a href="/registro" class="link-cuenta-secundario">Crear cuenta</a>
                </div>
            {% endif %}

            <details>
                <summary>🛒 <b class="enlace-titulo">Mi Carrito (0)</b></summary>      
                <p>Tu carrito está vacío</p>
                <hr>
                <button type="button">Ir a pagar</button>
            </details>
        </div>
    </header>
    
    <img src="{{ url_for('static', filename='img/fondo_lindo2.png') }}" class="ancho-total">

    <main style="min-height: 80vh;">{% block content %}
        {% endblock %}
    </main>

    <footer class="pie-pagina">
        <div class="contenedor-padre">
            <div class="tarjeta-pie">
                <h3>Mate Argento 2026</h3>
                <p>&copy; Todos los derechos reservados.</p>
                <p><em>Pasión por nuestra tradición.</em></p>
                <form>
                    <label>Dejanos tu opinión:</label><br>
                    <textarea rows="4" cols="15" placeholder="Ingrese su opinion"></textarea>
                    <br>
                        <button type="button">Enviar</button>
                </form>
            </div>

            <div class="tarjeta-pie">
                <h3>Secciones</h3>
                <p>Inicio</p>
                <p>Mates y Termos</p>
                <p>Yerbas Especiales</p>
                <p>Mi Cuenta</p>
            </div>

            <div class="tarjeta-pie">
                <h3>Atención al Cliente</h3>
                <p>Envíos a todo el país</p>
                <p>Preguntas Frecuentes</p>
                <p>Cambios y Devoluciones</p>
                <p>Seguí tu pedido</p>
            </div>

            <div class="tarjeta-pie">
                <h3>Contacto</h3>
                <p>WhatsApp: +54 9 11 6501-6068</p>
                <p>info@mateargento.com.ar</p>
                <p>Instagram: @MateArgento_OK</p>
            </div>
        </div>

    </footer>

</body>
</html>