<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="mensaje-push" id="notificacion">{{ messages[0] }}</div>
            <script>setTimeout(() => document.getElementById('notificacion').remove(), 3000);</script>
        {% endif %}
    {% endwith %}

    <a href="/">
        <img src="{{ url_for('static', filename='img/logof.png') }}" class="logo-personalizado" alt="Mate Argento">
    </a>

    <header class="bloque-superior">

        <div class="bloque-cuenta">

            <div class="buscador-corto">
                <input type="text" placeholder="Buscar..." style="border:none; padding:5px; outline:none;">
                <button>🔍</button>
            </div>

            <nav>
                {% if session.get('usuario_nombre') %}
                    <span>Hola, <b>{{ session['usuario_nombre'] }}</b></span> | 
                    {% if session.get('usuario_rol') == 'admin' %}
                        <a href="/admin/nuevo_producto" style="color: red; font-weight: bold;">[ PANEL CARGA ]</a> |
                    {% endif %}
                    <a href="/logout">Cerrar Sesión</a>
                    <details>
                        <summary>🛒 <b class="enlace-titulo">Mi Carrito (0)</b></summary>      
                            <p>Tu carrito está vacío</p>
                            <hr>
                            <button type="button">Ir a pagar</button>
                    </details>
                {% else %}
            </nav>
            <div class="icono-usuario">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="enlaces-cuenta">
                <a href="/login" class="link-cuenta">Iniciar sesión</a>
                <a href="/registro" class="link-cuenta-secundario">Crear cuenta</a>
            </div>
            <details>
                <summary>🛒 <b class="enlace-titulo">Mi Carrito (0)</b></summary>      
                    <p>Tu carrito está vacío</p>
                    <hr>
                    <button type="button">Ir a pagar</button>
            </details>
            {% endif %}
        </div>
    </header>
    
    <img src="{{ url_for('static', filename='img/fondo2.png') }}" class="ancho-total">

</body>
</html>