<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.jpeg') }}">
    <title>Mate Argento - Detalle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div class="contenedor">

    {% extends 'base.html' %}
    {% block content %}

    <div class="todo-centrado">

        <h2>{{ producto.nombre }}</h2>
 
        <img src="{{ url_for('static', filename='img/' + producto.imagen) }}" 
            style="width: 300px; border-radius: 10px;">

        <p>Categoría: <i>{{ producto.categoria }}</i></p>
        <p>{{ producto.descripcion }}</p>
        <p><b>${{ producto.precio }}</b></p>
        <form action="/agregar_al_carrito/{{ producto.id }}" method="GET">
            <button type="submit" style="cursor: pointer; padding: 10px; background-color: orange; border: none; border-radius: 5px;">
                Comprar
            </button>
        </form>
            {% if session.get('usuario_rol') == 'admin' %}
                <br><br>
                <a href="/eliminar_producto/{{ producto.id }}" 
                    style="color: white; background-color: red; padding: 5px; text-decoration: none; border-radius: 5px; font-size: 12px;"
                    onclick="return confirm('¿Estás seguro?')">Eliminar</a>
                <br>
                <a href="{{ url_for('editar_producto', id=producto.id) }}"
                    style="color: white; background-color: blue; padding: 5px; text-decoration: none; border-radius: 5px; font-size: 15px;"">Editar</a>
            {% endif %}                

        <br>
    </div>    
    {% endblock %}
</div>
</body>