<!DOCTYPE html>
<html>
<head>
    <title>Mate Argento - Detalle</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_fondof.png') }}">
</head>
<div class="contenedor">

    {% extends 'base.html' %}
    {% block content %}

    <div class="todo-centrado">

        <h2>{{ producto.nombre }}</h2>
 
        <img src="{{ url_for('static', filename='img/' + producto.imagen) }}" 
            style="width: 300px; border-radius: 10px;">

        <p>Categoría: <i>{{ producto.categoria }}</i></p>
        <p>{{ producto.descripcion }}</p>
        <p><b>${{ producto.precio| dinero }}</b></p>
        <form action="/agregar_al_carrito/{{ producto.id }}" method="GET">
            <button type="submit" style="cursor: pointer; padding: 10px; background-color: orange; border: none; border-radius: 5px;">
                Comprar
            </button>
        </form>
        <br>
    </div>    
    {% endblock %}
</div>
</html>