<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.jpeg') }}">
    <title>Mate Argento - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="contenedor">

    {% extends 'base.html' %}
    {% block content %}
    <!-- MUESTRA LOS PRODUCTOS DE LA BASE DE DATOS -->
    <h2>Productos destacados</h2>

    <div class="contenedor-padre3">

        <div class="tarjeta">
            <a href="/seccion/Yerbas" class="enlace-titulo efecto-verde"><h3>YERBAS</h3></a>
            {% set p = productos | selectattr("categoria", "equalto", "Yerbas") | first %}
            <h4>{{ p.nombre }}</h4>
            <a href="/detalle/{{ p.id }}">
                <img src="{{ url_for('static', filename='img/' + p.imagen) }}" alt="{{ p.nombre }}">
            </a>
            <p><b>${{ p.precio }}</b></p>
        </div>

        <div class="tarjeta">

            <a href="/seccion/Mates" class="enlace-titulo efecto-verde"><h3>MATES</h3></a>
            {% set p = productos | selectattr("categoria", "equalto", "Mates") | first %}
            <h4>{{ p.nombre }}</h4>
            <a href="/detalle/{{ p.id }}">
                <img src="{{ url_for('static', filename='img/' + p.imagen) }}" alt="{{ p.nombre }}">
            </a>
            <p><b>${{ p.precio }}</b></p>
        </div>

        <div class="tarjeta">

            <a href="/seccion/Bombillas" class="enlace-titulo efecto-verde"><h3>BOMBILLAS</h3></a>
            {% set p = productos | selectattr("categoria", "equalto", "Bombillas") | first %}
            <h4>{{ p.nombre }}</h4>
            <a href="/detalle/{{ p.id }}">
                <img src="{{ url_for('static', filename='img/' + p.imagen) }}" alt="{{ p.nombre }}">
            </a>
            <p><b>${{ p.precio }}</b></p>
        </div>

        <div class="tarjeta">

            <a href="/seccion/Termos" class="enlace-titulo efecto-verde"><h3>TERMOS</h3></a>
            {% set p = productos | selectattr("categoria", "equalto", "Termos") | first %}
            <h4>{{ p.nombre }}</h4>
            <a href="/detalle/{{ p.id }}">
                <img src="{{ url_for('static', filename='img/' + p.imagen) }}" alt="{{ p.nombre }}">
            </a>
            <p><b>${{ p.precio }}</b></p>
        </div>

    </div>

    <h2>Todos los Productos</h2>
    <div class="contenedor-padre3">
    
        {% set categorias_nuevas = [
            {'nombre': 'Conservadoras', 'imagen': 'conservadora.jpg'},
            {'nombre': 'Juego de Pava', 'imagen': 'juego_pava.webp'},
            {'nombre': 'Chopera', 'imagen': 'chopera.jpg'},
            {'nombre': 'Cuchillos', 'imagen': 'cuchillos.jpg'},
            {'nombre': 'Regalos Empresariales', 'imagen': 'regalo.jpg'},
            {'nombre': 'Autocebantes', 'imagen': 'autocebantes.webp'},
            {'nombre': 'Cafe x Mayor', 'imagen': 'cafe.jpg'},
            {'nombre': 'Bolsos y Portatermos', 'imagen': 'Bolsos.jpg'},
            {'nombre': 'Kits de Futbol', 'imagen': 'equipos.webp'},
            {'nombre': 'Kits Economicos', 'imagen': 'economicos.webp'},
            {'nombre': 'Kits con Mochila', 'imagen': 'set_mochila.webp'},
            {'nombre': 'Kits para Mujeres', 'imagen': 'kits_dama.webp'}
        ] %}

        {% for cat in categorias_nuevas %}
            <div class="tarjeta">
                <a href="/seccion/{{ cat.nombre }}" class="enlace-titulo efecto-verde">
                    <h3>{{ cat.nombre }}</h3>
                </a>
                <a href="/seccion/{{ cat.nombre }}">
                    <img src="{{ url_for('static', filename='img/' + cat.imagen) }}" alt="{{ cat.nombre }}">
                </a>
            </div>
        {% endfor %}

    </div>

</div>
   
    <br><br>
    {% endblock %}
</div>

</body>
</html>