<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.jpeg') }}">
    <title>Mate Argento - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="contenedor">

    {% extends 'base.html' %}
    {% block content %}
    <!-- MUESTRA LOS PRODUCTOS DE LA BASE DE DATOS -->
    <h2>Productos destacados</h2>

    <div class="contenedor-padre3">

        <div class="tarjeta">
            <a href="/seccion/Yerbas" class="enlace-titulo efecto-verde"><h3>YERBAS</h3></a>
            {% set p = productos | selectattr("categoria", "equalto", "Yerbas") | first %}
            <h4>{{ p.nombre }}</h4>
            <img src="{{ url_for('static', filename='img/' + p.imagen) }}" style="width: 200px;">
            <p><b>${{ p.precio }}</b></p>
            <a href="/detalle/{{ p.id }}">Ver detalle</a>
            {% if session.get('usuario_rol') == 'admin' %}
                <br><br>
                <a href="/eliminar_producto/{{ p.id }}" 
                    style="color: white; background-color: red; padding: 5px; text-decoration: none; border-radius: 5px; font-size: 12px;"
                    onclick="return confirm('¿Estás seguro?')">Eliminar</a>
            {% endif %}
        </div>

        <div class="tarjeta">

            <a href="/seccion/Mates" class="enlace-titulo efecto-verde"><h3>MATES</h3></a>
            {% set p = productos | selectattr("categoria", "equalto", "Mates") | first %}
            <h4>{{ p.nombre }}</h4>
            <img src="{{ url_for('static', filename='img/' + p.imagen) }}" style="width: 200px;">
            <p><b>${{ p.precio }}</b></p>
            <a href="/detalle/{{ p.id }}">Ver detalle</a>
            {% if session.get('usuario_rol') == 'admin' %}
                <br><br>
                <a href="/eliminar_producto/{{ p.id }}" style="color: white; background-color: red; padding: 5px; text-decoration: none; border-radius: 5px; font-size: 12px;">Eliminar</a>
            {% endif %}

        </div>

        <div class="tarjeta">

            <a href="/seccion/Bombillas" class="enlace-titulo efecto-verde"><h3>BOMBILLAS</h3></a>
            {% set p = productos | selectattr("categoria", "equalto", "Bombillas") | first %}
            <h4>{{ p.nombre }}</h4>
            <img src="{{ url_for('static', filename='img/' + p.imagen) }}" style="width: 200px;">
            <p><b>${{ p.precio }}</b></p>
            <a href="/detalle/{{ p.id }}">Ver detalle</a>
            {% if session.get('usuario_rol') == 'admin' %}
                <br><br>
                <a href="/eliminar_producto/{{ p.id }}" style="color: white; background-color: red; padding: 5px; text-decoration: none; border-radius: 5px; font-size: 12px;">Eliminar</a>
            {% endif %}

        </div>

        <div class="tarjeta">

            <a href="/seccion/Termos" class="enlace-titulo efecto-verde"><h3>TERMOS</h3></a>
            {% set p = productos | selectattr("categoria", "equalto", "Termos") | first %}
            <h4>{{ p.nombre }}</h4>
            <img src="{{ url_for('static', filename='img/' + p.imagen) }}" style="width: 200px;">
            <p><b>${{ p.precio }}</b></p>
            <a href="/detalle/{{ p.id }}">Ver detalle</a>
            {% if session.get('usuario_rol') == 'admin' %}
                <br><br>
                <a href="/eliminar_producto/{{ p.id }}" style="color: white; background-color: red; padding: 5px; text-decoration: none; border-radius: 5px; font-size: 12px;">Eliminar</a>
            {% endif %}
        </div>

    </div>
   
    <br><br>
    {% endblock %}
</div>

</body>
</html>