<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_fondof.png') }}">
    <title>Mate Argento - Inicio</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<br>
<div class="contenedor">
    <h2 style="text-align: center;">Productos destacados</h2>

    <div class="contenedor-padre3">
        <div class="tarjeta">
            {% set p = destacados['Yerbas'] %}
            {% if p %}
                <h4>{{ p.nombre }}</h4>
                <a href="/detalle/{{ p.id }}">
                    <img src="{{ url_for('static', filename='img/' + p.imagen) }}" alt="{{ p.nombre }}">
                </a>
                <p><b>${{ p.precio| dinero }}</b></p>
            {% else %}
                <p>No hay productos en esta categoría</p>
            {% endif %}
        </div>

        <div class="tarjeta">
            {% set p = destacados['Mates'] %}
            {% if p %}
                <h4>{{ p.nombre }}</h4>
                <a href="/detalle/{{ p.id }}">
                    <img src="{{ url_for('static', filename='img/' + p.imagen) }}" alt="{{ p.nombre }}">
                </a>
                <p><b>${{ p.precio| dinero }}</b></p>
            {% else %}
                <p>No hay productos en esta categoría</p>
            {% endif %}
        </div>

        <div class="tarjeta">
            {% set p = destacados['Bombillas'] %}
            {% if p %}
                <h4>{{ p.nombre }}</h4>
                <a href="/detalle/{{ p.id }}">
                    <img src="{{ url_for('static', filename='img/' + p.imagen) }}" alt="{{ p.nombre }}">
                </a>
                <p><b>${{ p.precio| dinero }}</b></p>
            {% else %}
                <p>No hay productos en esta categoría</p>
            {% endif %}
        </div>

        <div class="tarjeta">
            {% set p = destacados['Termos'] %}
            {% if p %}
                <h4>{{ p.nombre }}</h4>
                <a href="/detalle/{{ p.id }}">
                    <img src="{{ url_for('static', filename='img/' + p.imagen) }}" alt="{{ p.nombre }}">
                </a>
                <p><b>${{ p.precio| dinero }}</b></p>
            {% else %}
                <p>No hay productos en esta categoría</p>
            {% endif %}
        </div>
        <a href="/todos_productos" class="efecto-verde" style="text-align: right; color: #ccc; font-weight: bold; text-decoration: none; background-color: rgba(255, 255, 255, 0.1); 
            border: 1px solid rgba(255, 255, 255, 0.1)">
            VER TODOS LOS PRODUCTOS
        </a>
        <br>
    </div>
    
    <h2 style="text-align: center;">Categorias</h2>

    <div class="contenedor-padre3">
        {% for cat in todas_las_categorias %}
            <div class="tarjeta">
                <a href="/seccion/{{ cat.nombre }}" class="enlace-titulo">
                    <h3>{{ cat.nombre }}</h3>
                </a>
                <a href="/seccion/{{ cat.nombre }}">
                    <img src="{{ url_for('static', filename='img/' + cat.imagen) }}" alt="{{ cat.nombre }}">
                </a>
            </div>
        {% else %}
            <p>No se encontraron categorías disponibles.</p>
        {% endfor %}
    </div>

    <h2 style="text-align: center;">¿QUÉ HACE ÚNICOS A NUESTROS MATES?</h2>

    <div style="display: flex; gap: 20px; justify-content: center; align-items: stretch; margin-top: 30px;">

        <div class="tarjeta" style="width: 350px; height: 350px;"> 
            <img src="{{ url_for('static', filename='img/gif_mate.gif') }}" alt="Animación" , style="height: 100%; object-fit: cover;">
        </div>

        <div class="tarjeta-pie2" style="width: 350px; height: 350px; text-align: left; padding: 25px; display: flex; flex-direction: column; justify-content: center;    background-color: rgba(255, 255, 255, 0.3); 
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);">
            <h2 style="margin-top: 0; color: black;">De nuestra familia a la tuya</h2>
            <p style="font-size: 1.1rem; line-height: 1.5;">Detrás de Mate Argento hay manos que aman lo que hacen. Nos mueve la pasión por el ritual diario y el compromiso de llevar a tu mesa un producto con alma, dedicación y ese toque casero que nos hace únicos.</p>
        </div>
    </div>

    <h2>Últimas opiniones</h2>
    <div class="contenedor-padre3">
        {% if opiniones %}
            {% for opinion in opiniones %}
                <div class="tarjeta" style="justify-content: flex-start; gap: 10px;">
                    <div style="font-size: 40px; color: #13283A; margin: 10px 0;">
                        <i class="fa-solid fa-comment-dots"></i>
                    </div>
                    <h4 style="margin: 5px 0; color: #2c3e50;">
                        {% if opinion.nombre_cliente  %}
                            {{ opinion.nombre_cliente  }}
                        {% else %}
                            Cliente Anónimo
                        {% endif %}
                    </h4>
                    <p style="font-size: 0.9em; font-style: italic; color: #555; word-wrap: break-word; flex-grow: 1;">
                        "{{ opinion.comentario }}"
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay opiniones todavía 🧉</p>
        {% endif %}
    </div>
</div>
<br>
{% endblock %}

</html>