<!DOCTYPE html>
<html>
<head>
    <title>Mate Argento - Opiniones</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_fondof.png') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <br>
    <div class="contenedor">
        <br><br><br>
        <div class="contenedor-padre2">
            {% for p in opiniones %}
                <div class="tarjeta">
                    <h4>{{ p.nombre_cliente }}</h4>
                    <p><b>{{ p.comentario }}</b></p>
                    {% if session.get('usuario_rol') == 'admin' %}
                        <a href="/eliminar_opinion/{{ p.id }}" ...>Eliminar</a>
                    {% endif %}
                </div>
            {% else %}
                <p>No hay productos en esta categoría todavía.</p>
            {% endfor %} 
        </div>
        <br><br><br>
    </div>
    {% endblock %}
</body>
</html>