<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.jpeg') }}">
    <title>Mate Argento - Registrarse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="mensaje-push" id="notificacion">{{ messages[0] }}</div>
            <script>setTimeout(() => document.getElementById('notificacion').remove(), 3000);</script>
        {% endif %}
    {% endwith %}

<div class="contenedor">

    {% include 'base.html' %}

    <div class="todo-centrado">
    
    <br>
    
    <h2>Registrarse</h2>
    
    <form action="/registrar_usuario" method="POST">
        <label>Nombre:</label><br>
        <input type="text" name="nombre" placeholder="Tu nombre" required>
        <br><br>

        <label>Email:</label><br>
        <input type="email" name="email" placeholder="mail@ejemplo.com" required>
        <br><br>

        <label>Contraseña:</label><br>
        <input type="password" name="password" required>
        <br><br>

        <button type="submit">Crear cuenta</button>
    </form>
    
    <br>
    <p>¿Ya tenés cuenta? <a href="/login">Iniciá sesión acá</a></p>
    <br>
    </div>
</div>

</body>
</html>